<div>
  <img src="https://drop.ndtv.com/albums/COOKS/pasta-vegetarian/pastaveg_640x480.jpg" alt="Pasta" class="img-thumbnail">
  <h3 class="card-title">Pasta</h3>
  <!-- Example single danger button -->
  <div class="btn-group" dropdown>
    <button dropdownToggle type="button" style="background-color:navy;" class="btn btn-secondary dropdown-toggle">
      Manage Recipe<span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem"><a class="dropdown-item" routerLink="/shopping-list">To Shopping List</a></li>
      <li role="menuitem"><a class="dropdown-item" routerLink="/edit">Edit Recipe</a></li>
      <li role="menuitem"><a class="dropdown-item" routerLink="#">Delete Recipe</a></li>
    </ul>
  </div>
      
</div>
